<div class="container">
    <nav [color]="'black'" [hover]="'grey'" [background]="'white'"></nav>
    <br><br><br><br><br><br><br>
    <div class="container-videos">
        <div class="video" *ngFor="let video of videos">
            <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(video)"
                    width="640"
                    height="360"
                    frameborder="0"
                    webkitallowfullscreen
                    mozallowfullscreen
                    allowfullscreen></iframe>
        </div>
    </div>
</div>