.container {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.flex-container {
  margin: 0 7.5%;
  display: flex;
}

.flex-1 {
  flex: 1;
}

#about {
  margin: 17% 0 0 30%;
  max-width: 57.5%;
  border: solid black 1.25px
}

#bio {
  margin: 24% 35% 21% 0;
  text-align: left;
  font-family: 'brandonReg';
  font-size: 1em;
  letter-spacing: 0.75px;
}