div {
  position: absolute;
  top: 7.5%;
  right: 14%;
  list-style: none;
  padding: 0;
  font-family: brandonReg;
  font-size: 1.25em;
  letter-spacing: 3px;
}

li {
  padding: 5px 20px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  position: relative;
}

ul ul {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  padding: 10px;
  border: 1px solid grey;
}

ul ul li {
  padding: 1px;
}

li:hover ul {
  display: block;
}